APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:yuQEXYq8jR2IWDVleE7Ur0wMvqGRb8Nn8Dh7AVPSK7s=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=krlocator
DB_USERNAME=root
DB_PASSWORD=icarugadd1234
DATABASE_URL = postgres://njahkixrtleakt:39b6bf0feb83f72c05fd1c82f072925b5c9dd20bb6a357cfba3224e850f56c6b@ec2-174-129-206-173.compute-1.amazonaws.com:5432/dadpnul1gq8to7

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=koreanrestaurantlocator@gmail.com
MAIL_PASSWORD=aoyjihackllgogmj
MAIL_ENCRYPTION=tls

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

REDIRECT_HTTPS=true

NOCAPTCHA_SECRET=6Ldw0E0UAAAAAL5lFtvJZRq6E-BrgvF4pnqktMD2
NOCAPTCHA_SITEKEY=6Ldw0E0UAAAAAFewBSkid6THsypb_ovJvoWTIRmv
